/* user-edit.component.scss */
  
  .profile-picture{
    width: 150px;
    display: block;
    object-fit: cover;
    border-radius: 50% !important; /* Opcional: hace la imagen circular */
    transition-duration: 0.5s;
}
.profile-picture:hover{
    border: 2px solid #007bff;
    filter: brightness(0.7);
    cursor: pointer;
}

.image-container:hover .hover-text {
    opacity: 1; /* Muestra el texto al pasar el mouse */
}

.image-container {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px; 
    cursor: pointer;
    overflow: hidden; 
}

.profile-picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

// fondo hover
.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave */
    border-radius: 50%; /* Coincide con la imagen redonda */
    z-index: 1; /* Asegura que esté detrás del texto */
}

//texto hover
.image-container::after {
    content: 'Cambiar imagen de perfil';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
}

//mostrar texto y filtro
.image-container:hover::before,
.image-container:hover::after {
    opacity: 1;
}

::ng-deep nb-flip-card a {
  position: relative;
  top: 10px;
}

.profile-picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}