<div *ngIf="requirements?.length > 0" class="table-responsive">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th *ngIf="!isForCompany">Proveedor</th>
        <th>Documento</th>

        <th>Periódico</th>
        <th>Periodicidad</th>
        <th>Cant. Mínima</th>
        <th>Fecha de inicio</th>
        <th>Fecha de final</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let req of requirements">
        <td *ngIf="!isForCompany" class="text-center align-middle">
          {{ req.company_name }}
        </td>

        <td class="text-start align-middle">
          {{ req.documentType || req.name }}
        </td>

        <td class="text-center align-middle">
          {{ req.isPeriodic || req.is_periodic ? "Sí" : "No" }}
        </td>

        <td class="text-center align-middle">
          {{
            req.isPeriodic || req.is_periodic
              ? "Cada " +
                (req.periodAmount || req.periodicity_count) +
                " " +
                (req.periodType || req.periodicity_type)
              : "Sin periodicidad"
          }}
        </td>

        <td class="text-center align-middle">
          {{ req.minQuantity }}
        </td>

        <td class="text-center align-middle">
          {{ getFormattedDate(req.startDate) }}
        </td>

        <td class="text-center align-middle">
          {{ getFormattedDate(req.endDate || req.current_period?.end_date) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ALERTA cuando no hay requisitos configurados -->
<div *ngIf="requirements.length === 0" class="text-center">
  <nb-alert status="info" class="mb-0">
    No hay requisitos configurados actualmente
  </nb-alert>
</div>
