.form-container {
  flex-shrink: 0; /* Evita que se reduzca */
}

.table-container {
  overflow: auto;

  .table-responsive {
    min-height: min-content; /* Asegura que el contenedor tenga al menos el alto del contenido */
  }
}

.no-manual-input {
  /* Evita que el cursor de texto aparezca */
  caret-color: transparent !important;
  /* Deshabilita selección de texto */
  user-select: none !important;
}

.table {
  text-align: center; // Centra todo el contenido por defecto

  td {
    text-align: center;

    // Excepción: si el contenido es exactamente "Registro REPSE", alínealo a la izquierda
    &:contains("Registro REPSE") {
      text-align: left !important;
    }
  }
}
