<nb-card>
  <nb-card-header>Asignación de requisitos de mi empresa</nb-card-header>
  <nb-card-body class="d-flex flex-column">
    <div class="form-container">
      <ngx-requirement-assignment-form
        [isForCompany]="true"
        [assignedByCompanyId]="companyId"
        [documentTypes]="documentTypes"
        [availableFormats]="availableFormats"
        (formSubmitted)="loadRequirements()"
      ></ngx-requirement-assignment-form>
    </div>
    <hr />
    <h4>Requisitos configurados</h4>
    <!-- TABLA DE REQUISITOS ACTUALIZADA -->
    <ngx-requirement-table
      [requirements]="requirements"
      [isForCompany]="true"
      (deletePeriodicity)="onDeletePeriodicity($event)"
    ></ngx-requirement-table>
  </nb-card-body>
</nb-card>

<!-- modal de visibilidad de socios -->

<ng-template #partnerModal let-data>
  <nb-card>
    <nb-card-header>{{ data.title }}</nb-card-header>
    <nb-card-body>
      <div class="row mb-3">
        <div class="col-md-6">
          <nb-form-field class="mb-3 mb-sm-0">
            <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
            <input
              nbInput
              [formControl]="searchControl"
              placeholder="Buscar socio"
              (input)="filterPartners()"
              fullWidth
            />
          </nb-form-field>
        </div>
        <div class="col-md-6">
          <nb-select
            [formControl]="affiliationFilter"
            (selectedChange)="filterPartners()"
            placeholder="Filtrar por afiliación"
            fullWidth
          >
            <nb-option value="todos">Todos</nb-option>
            <nb-option value="proveedor">Proveedores</nb-option>
            <nb-option value="cliente">Clientes</nb-option>
            <nb-option value="proveedor/cliente">Proveedor/Cliente</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="mb-3">
        <nb-checkbox
          [checked]="allSelected"
          [indeterminate]="someSelected()"
          (checkedChange)="toggleAllSelected($event)"
        >
          Seleccionar todos los socios <strong>visibles</strong> ({{
            filteredPartners.length
          }})
        </nb-checkbox>
      </div>

      <table class="table" nbTable>
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Nombre</th>
            <th>Afiliación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partner of filteredPartners">
            <td>
              <nb-checkbox
                [checked]="partner.selected"
                (checkedChange)="partner.selected = $event; updateAllSelected()"
              >
              </nb-checkbox>
            </td>
            <td>{{ partner.name }}</td>
            <td>{{ partner.affiliation }}</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex justify-content-center">
        <button
          nbButton
          fullWidth
          status="primary"
          (click)="savePartnersSelection()"
        >
          Confirmar
        </button>

        <button
          nbButton
          fullWidth
          status="basic"
          (click)="closeModal()"
          class="ml-2"
        >
          Cancelar
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
