:host {
    display: block;
    max-width: 700px; /* ajusta según tu diseño */
  }
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  