<!-- document-config.component.html -->
<nb-card>
  <nb-card-header>Configuración de documentos</nb-card-header>
  <nb-card-body>
    <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="name">Nombre del documento</label>
            <input
              nbInput
              fullWidth
              id="name"
              formControlName="name"
              placeholder="Ej. RFC"
              type="text"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Descripción</label>
            <input
              nbInput
              fullWidth
              id="description"
              formControlName="description"
              placeholder="Ej. Registro Federal de Contribuyentes"
              type="text"
            />
          </div>
        </div>
        <div class="col-md-2 d-flex align-items-center">
          <div class="form-group">
            <nb-checkbox formControlName="active">Activo</nb-checkbox>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="notify_day">
              <span>Notificar desde</span>
              <nb-icon
                icon="info"
                status="basic"
                class="ml-2 tooltip-icon"
                nbTooltip="Días antes del vencimiento para notificar al usuario."
              ></nb-icon>
            </label>
            <input
              nbInput
              fullWidth
              id="notify_day"
              formControlName="notify_day"
              type="number"
              min="0"
            />
          </div>
        </div>
      </div>
      <button
        nbButton
        type="submit"
        status="primary"
        [disabled]="!documentForm.valid"
      >
        Agregar Documento
      </button>
    </form>

    <div class="table-responsive mt-4">
      <table class="table" nbTable>
        <thead class="text-center">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Notificar desde (días)</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of documentTypes">
            <td>{{ doc.name }}</td>
            <td>{{ doc.description }}</td>
            <td class="text-center">{{ doc.notify_day }}</td>
            <td class="text-center">
              <nb-tag
                appearance="outline"
                [text]="doc.active ? 'Activo' : 'Inactivo'"
                [status]="doc.active ? 'success' : 'danger'"
              ></nb-tag>
            </td>
            <td class="actions">
              <div class="d-flex flex-column flex-sm-row">
                <button
                  nbButton
                  size="small"
                  (click)="onEdit(doc)"
                  status="primary"
                  class="mb-2 mb-sm-0 mr-sm-2"
                >
                  <nb-icon icon="edit-2-outline"></nb-icon>
                </button>
                <button
                  nbButton
                  size="small"
                  (click)="onDelete(doc)"
                  status="danger"
                >
                  <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>

<!-- Template para el modal de edición -->
<ng-template #editModal let-data>
  <nb-card>
    <nb-card-header>Editar documento</nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label for="editName" class="label">Nombre del documento</label>
        <input
          nbInput
          fullWidth
          id="editName"
          [(ngModel)]="data.name"
          placeholder="Nombre del documento"
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="editDescription" class="label">Descripción</label>
        <input
          nbInput
          fullWidth
          id="editDescription"
          [(ngModel)]="data.description"
          placeholder="Descripción del documento"
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="editNotifyDay">Notificar desde (días)</label>
        <input
          nbInput
          fullWidth
          id="editNotifyDay"
          [(ngModel)]="data.notify_day"
          placeholder="Ej. 10"
          type="number"
          min="0"
        />
      </div>
      <div class="form-group">
        <nb-checkbox [(ngModel)]="data.active">Activo</nb-checkbox>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="confirmEdit()">
        Guardar Cambios
      </button>
      <button nbButton status="basic" (click)="cancelEdit()" class="ml-3">
        Cancelar
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- Template para el modal de eliminación -->
<ng-template #deleteModal let-data>
  <nb-card>
    <nb-card-header>Confirmar eliminación</nb-card-header>
    <nb-card-body>
      <p>¿Estás seguro que deseas eliminar "{{ data.name }}"?</p>
      <p>Esta acción no se puede deshacer.</p>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="confirmDelete()">
        Eliminar
      </button>
      <button nbButton status="basic" (click)="cancelDelete()" class="ml-3">
        Cancelar
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
