.level-type {
  color: #3366ff;
  font-weight: 700;
}

.level-periodicity {
  color: #0095ff;
  font-weight: 600;
}

.level-period {
  color: #00b887;
  font-weight: 600;
}

.level-format {
  font-weight: 600;
}

.level-file {
  color: #8f9bb3;
}
