<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span>Catálogo de documentos de mi empresa</span>
    <nb-form-field class="w-25" *ngIf="catalog && catalog.length > 0">
      <nb-icon nbPrefix icon="search" pack="eva"></nb-icon>
      <input
        nbInput
        fullWidth
        placeholder="Buscar documento..."
        [(ngModel)]="searchQuery"
        (ngModelChange)="filterTree()"
      />
    </nb-form-field>
  </nb-card-header>

  <nb-card-body>
    <ngx-document-tree
      [catalog]="catalog"
      [searchQuery]="searchQuery"
    ></ngx-document-tree>
  </nb-card-body>
</nb-card>
