.icon-spaced {
  margin-right: 0.5rem; // separación entre ícono y texto
  font-size: 1.5rem; // opcional: tamaño del ícono
}

/* Agrega esto a tus estilos */
.doc-label {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem; /* Espacio adicional después del nombre */
}

.status-icon {
  margin-right: 0.3rem; /* o ajusta a 0.5rem si quieres más espacio */
  font-size: 1.1rem; /* opcional: para mantener tamaño uniforme */
  vertical-align: middle; /* opcional: mejora alineación con texto */
}

.status-text {
  margin-left: 0.5rem; /* Espacio consistente para todos los estados */
}

.expired-text {
  margin-left: 0.75rem; // separación del texto negro
}

.expired-icon {
  font-size: 1.2rem; // Ajusta el tamaño del ícono de "vencido"
  margin-right: 0.3rem; // Espacio entre ícono y texto rojo
}

// Mantener las clases existentes y agregar/actualizar colores
.level-type {
  color: #247ca8 !important; // Color carpeta principal
}

.level-periodicity {
  color: #0da2b9 !important; // Color calendar (año/mes/semana)
}

.level-period {
  color: #28aeb3 !important; // Color clock (periodo/fecha)
}

.level-format {
  color: #6197df !important; // Color file-text (tipo archivo)
}

.level-file {
  color: #a6b4e5 !important; // Color archivos activos
}

// Nuevas clases para estados

.text-late {
  color: rgb(248, 104, 8) !important; /* Naranja personalizado */
}
.icon-late {
  color: rgb(248, 104, 8) !important; // Color para archivos retrasados
}

.icon-expired {
  color: red !important; // Color para archivos vencidos
}
