.icon-spaced {
  margin-right: 0.5rem; // separación entre ícono y texto
  font-size: 1.5rem; // opcional: tamaño del ícono
}

.doc-label {
  font-size: 1rem; // ajusta el tamaño del texto aquí (ej. 0.875rem, 1.25rem)
  font-weight: 500; // opcional
}

.expired-text {
  margin-left: 0.75rem; // separación del texto negro
}

.expired-icon {
  font-size: 1.2rem; // Ajusta el tamaño del ícono de "vencido"
  margin-right: 0.3rem; // Espacio entre ícono y texto rojo
}

.level-type {
  color: #247ca8 !important;
  font-weight: 700;
}

.level-periodicity {
  color: #0da2b9 !important; //LISTO
  font-weight: 600;
}

.level-period {
  color: #28aeb3 !important;
  font-weight: 600;
}

.level-format {
  color: #6197df !important;
  font-weight: 600;
}

.level-file {
  color: #a6b4e5 !important;
}

.text-black {
  color: black !important;
}
