.icon-spaced {
  margin-right: 0.5rem; // separación entre ícono y texto
  font-size: 1.5rem; // opcional: tamaño del ícono
}

.doc-label {
  font-size: 1rem; // ajusta el tamaño del texto aquí (ej. 0.875rem, 1.25rem)
  font-weight: 500; // opcional
}

.expired-text {
  margin-left: 0.75rem; // separación del texto negro
}

.expired-icon {
  font-size: 1.2rem; // Ajusta el tamaño del ícono de "vencido"
  margin-right: 0.3rem; // Espacio entre ícono y texto rojo
}

// Mantener las clases existentes y agregar/actualizar colores
.level-type {
  color: #247ca8 !important; // Color carpeta principal
}

.level-periodicity {
  color: #0da2b9 !important; // Color calendar (año/mes/semana)
}

.level-period {
  color: #28aeb3 !important; // Color clock (periodo/fecha)
}

.level-format {
  color: #6197df !important; // Color file-text (tipo archivo)
}

.level-file {
  color: #a6b4e5 !important; // Color archivos activos
}

// Nuevas clases para estados especiales
.icon-late {
  color: orange !important; // Color para archivos retrasados
}

.icon-expired {
  color: red !important; // Color para archivos vencidos
}
