.custom-dialog {
  @media (max-width: 575.98px) {
    width: 100%;
  }

  @media (min-width: 576px) {
    width: 75%;
  }
}

nb-tab.content-active {
  padding: 1rem;
}

::ng-deep nb-tabset {
  --tabset-tab-padding: 0.25rem 0.5rem;

  @media (min-width: 576px) {
    --tabset-tab-padding: 0.5rem 1rem;
  }

  @media (min-width: 768px) {
    --tabset-tab-padding: 1rem 2rem;
  }
}
