<nb-card>
  <nb-card-header>Asignación de requisitos a proveedores</nb-card-header>
  <nb-card-body class="d-flex flex-column">
    <!-- FORMULARIO -->
    <div class="form-container">
      <ngx-requirement-assignment-form
        [isForCompany]="false"
        [providers]="businessPartners"
        [assignedByCompanyId]="companyId"
        [documentTypes]="documentTypes"
        [availableFormats]="availableFormats"
        (formSubmitted)="loadAssignedRequirements()"
      ></ngx-requirement-assignment-form>
    </div>
    <hr />
    <h4>Requisitos configurados a proveedores</h4>
    <!-- TABLA DE REQUISITOS -->
    <ngx-requirement-table
      [requirements]="requirements"
      [isForCompany]="false"
    ></ngx-requirement-table>
  </nb-card-body>
</nb-card>
