<nb-card>
    <nb-card-header>
      <h2>Kardex de Vacaciones</h2>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-8">
          <nb-select placeholder="Selecciona un empleado" [(ngModel)]="empleadoId">
            <nb-option *ngFor="let emp of empleados" [value]="emp.employee_id">
              {{ emp.full_name || 'Empleado sin nombre' }}
            </nb-option>
          </nb-select>
          
          <button nbButton status="primary" (click)="generarReporte()">Generar Reporte</button>
        </div>
      </div>
  
      <div class="row mt-3">
        <div class="col-md-8">
          <nb-input placeholder="Vacaciones antes de la alta" [(ngModel)]="vacacionesAlta" type="number"></nb-input>
          <button status="success" (click)="actualizarVacacionesAlta()">Actualizar</button>
        </div>
      </div>
  
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Concepto</th>
            <th>Fecha Registro</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tomadas</th>
            <th>Días Con Derecho</th>
            <th>Saldo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vac of vacaciones">
            <td>{{ vac.Concepto }}</td>
            <td>{{ vac.FechaRegistro }}</td>
            <td>{{ vac.FechaInicio }}</td>
            <td>{{ vac.FechaFin }}</td>
            <td>{{ vac.Tomadas }}</td>
            <td>{{ vac.DiasVacaciones }}</td>
            <td>{{ vac.Saldo }}</td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
  