nb-card{
    padding:20px;
}

input[type=file]::file-selector-button {
    cursor: pointer;
    border: 2px solid #0095ff ;
    padding: 8px;
    color: #0095ff;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    animation-duration: 0.5s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #0095ff;
    color: white;
  }

  .input-file{
    min-height: 70px;
    width:100% !important;
  }
  
  .dropZoneOverlay, .FileUpload {
    width: 100%;
    height: 120px;
    border-radius: 8px;
  }
  
  .dropZoneOverlay {
    border: 2px dashed #007bff; /* Borde punteado azul corporativo */
    background-color: #f8f9fa; /* Fondo gris claro */
    font-family: 'Arial', sans-serif; /* Fuente corporativa */
    color: #007bff; /* Color azul corporativo */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .dropZoneOverlay:hover {
    background-color: #e9ecef; /* Cambio de color al pasar el mouse */
    border-color: #0056b3; /* Borde más oscuro al pasar el mouse */
  }
  
  .FileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }