<nb-card class="corporate-card mt-4">
  <nb-card-header>
    <h5 class="card-title">Código de Empresa</h5>
  </nb-card-header>

  <nb-card-body>
    <!-- Contenedor del código de empresa -->
    <div class="code-container">
      <p class="code-text">
        <strong>Código:</strong> {{ codigoEmpresa }}
      </p>
    </div>

    <!-- Botón de copiar -->
    <div class="button-container">
      <button nbButton status="info" size="large" (click)="copiarCodigo()">
        <nb-icon icon="copy-outline" class="icon"></nb-icon>
        Copiar Código
      </button>
    </div>
  </nb-card-body>
</nb-card>

<!-- Alerta informativa -->
<nb-alert status="info" class="corporate-alert text-center ">
  <p>Este es tu código de empresa. Úsalo con precaución, ya que se actualiza dinámicamente al salir de la página.</p>
</nb-alert>
