<nb-card>
    <nb-card-header>
      <h2 style="text-align: center;">Administrar Rangos de Empleados</h2>
    </nb-card-header>
    <nb-card-body>
      <!-- Selector de Departamento -->
      <div style="text-align: center; margin-bottom: 20px;" class="text-center">
        <nb-select placeholder="Seleccione un departamento" [(selected)]="selectedDepartment" (selectedChange)="onDepartamentoChange()">
            <nb-option *ngFor="let depto of departamentos" [value]="depto.id">
              {{ depto.nombre }}
            </nb-option>
          </nb-select>
          
      </div>
  
      <!-- Tabla de Empleados -->
      <table style="width: 100%; border-collapse: collapse; text-align: center;">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Rango</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of getEmpleadosFiltrados()">
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.position_name}}</td>
            <td>
                  <nb-select  [(selected)]="empleado.department_range" >
                    <nb-option *ngFor="let r of rangos" [value]="r">{{ r }}</nb-option>
                  </nb-select>
                  
              </td>
              
            <td>
              <button nbButton status="primary" (click)="actualizarRango(empleado)">
                Actualizar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
  