/* styles.css o el archivo de estilos correspondiente */
.cargado {
    background-color: #d4edda; /* Verde claro */
  }
  
  .completo {
    background-color: #cce5ff; /* Azul claro */
  }
  
  .rechazado {
    background-color: #f8d7da; /* Rojo claro */
  }
  
  .pendiente {
    background-color: #fff3cd; /* Amarillo claro */
  }
  