<nb-card>
  <!-- Título Principal -->
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <span class="title">Gestión de Asistencia Semanal</span>
      <!-- Botón para ver Listas Semanales Procesadas -->
      <button nbButton status="info" (click)="openProcessedListsModal()">
        Listas Semanales Procesadas
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <!-- Selector de Semana Confirmada -->
    <div class="col-md-5 col-sm-12 mb-3 mb-sm-3 px-0">
      <nb-select
        id="weekSelector"
        [(ngModel)]="selectedWeek"
        (ngModelChange)="onWeekChange($event)"
        placeholder="Seleccionar semana procesada"
        class="full-width"
      >
        <nb-option *ngFor="let week of processedWeeks" [value]="week">
          Semana {{ week.week_number }}
          <span *ngIf="week?.start_date && week?.end_date">
            ({{ week.start_date }} - {{ week.end_date }})
          </span>
        </nb-option>
      </nb-select>
    </div>

    <!-- Tabla de Asistencia de la Semana Confirmada -->
    <div class="table-responsive mt-4" *ngIf="selectedWeek">
      <h5 class="text-center bg-primary text-white p-2 rounded">
        Lista de Asistencia: Semana {{ selectedWeek.week_number }} ({{
          formattedStartDate
        }}
        - {{ formattedEndDate }})
      </h5>
      <table
        id="attendance-table"
        class="table table-bordered table-hover table-striped shadow-sm"
      >
        <thead class="thead-dark">
          <tr>
            <th rowspan="2" class="text-center align-middle">Código</th>
            <th rowspan="2" class="text-center align-middle">Empleado</th>
            <ng-container *ngFor="let dia of diasSemana">
              <th colspan="9" class="text-center">
                {{ dia.display }} ({{ dia.date | date : "dd/MM/yyyy" }})
              </th>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngFor="let dia of diasSemana">
              <th class="text-center">Entrada</th>
              <th class="text-center">Entrada Comida</th>
              <th class="text-center">Salida Comida</th>
              <th class="text-center">Entrada Segunda Comida</th>
              <th class="text-center">Salida Segunda Comida</th>
              <th class="text-center">Salida</th>
              <th class="text-center">Incidencia</th>
              <th class="text-center">Descripción</th>
              <th class="text-center">Empresa y Obra</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empleadosSemana">
            <td class="text-center">{{ emp.employee_code || "N/A" }}</td>
            <td>
              {{ emp.first_name || "" }} {{ emp.last_name || "" }}
              {{ emp.middle_name || "" }}
            </td>
            <ng-container *ngFor="let dia of diasSemana">
              <td class="text-center">
                {{ emp.work_hours?.[dia.date]?.entry_time || '--:--' }}
              </td>
              <td class="text-center">
                {{ emp.work_hours?.[dia.date]?.lunch_start_time || '--:--' }}
              </td>
              <td class="text-center">
                {{ emp.work_hours?.[dia.date]?.lunch_end_time || '--:--' }}
              </td>
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.second_lunch_start_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.second_lunch_end_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ emp.work_hours?.[dia.date]?.exit_time || '--:--' }}
              </td>
              <td class="text-center">
                {{ emp.work_hours?.[dia.date]?.incident || 'N/A' }}
              </td>
              <td>
                {{ emp.work_hours?.[dia.date]?.description || 'Sin descripción' }}
              </td>
              <td>
                {{ emp.work_hours?.[dia.date]?.project_name || 'No Asignado' }}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Sección de botones e input de archivo PDF -->
    <div class="text-center mt-4" *ngIf="selectedWeek">
      <!-- Contenedor para la subida de archivos -->
      <div
        class="upload-container p-4 mb-4 border rounded shadow-sm bg-light mx-0 mx-sm-auto"
      >
        <h6 class="mb-3 text-secondary fw-bold">
          <span class="text-primary">📄 Subir Documento PDF</span>
        </h6>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="pdfUpload"
            (change)="onFileSelected($event)"
            accept="application/pdf"
          />
          <label
            class="custom-file-label text-left text-sm-center"
            for="pdfUpload"
          >
            {{ uploadedFileName ? uploadedFileName : "Seleccionar archivo" }}
          </label>
        </div>
      </div>

      <!-- Botones para acciones -->
      <div class="w-100 d-flex justify-content-center">
        <button
          nbButton
          (click)="generatePDF()"
          status="success"
          class="px-4 mr-4"
        >
          <nb-icon icon="printer-outline" class="me-2"></nb-icon> Imprimir
        </button>
        <button
          nbButton
          (change)="onFileSelected($event)"
          (click)="uploadPDF()"
          status="primary"
          class="px-4"
        >
          <nb-icon icon="cloud-upload-outline" class="me-2"></nb-icon> Subir PDF
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
