<div class="container mt-4">
  <!-- Selector de Semana Confirmada -->
  <nb-card class="m-2 p-4">
    <nb-card-header>
      <span class="title">Semanas Procesadas</span>
    </nb-card-header>

    <div>
      <div class="row mt-3">
        <!-- Selector de Semana Confirmada -->
        <div class="col-md-8 col-sm-12 mb-3 mb-sm-3">
          <nb-select
            [(selected)]="selectedWeek"
            (selectedChange)="onWeekChange($event)"
            placeholder="Seleccionar semana confirmada"
            class="full-width"
          >
            <nb-option *ngFor="let week of confirmedWeeks" [value]="week">
              Semana {{ week.week_number }}
              <span
                *ngIf="
                  week?.payroll_period?.start_date &&
                  week?.payroll_period?.end_date
                "
              >
                ({{ week.payroll_period.start_date }} -
                {{ week.payroll_period.end_date }})
              </span>
            </nb-option>
          </nb-select>
        </div>

        <!-- Botón para ver Listas Semanales Procesadas -->
        <div class="col-md-4 col-sm-12 button-col">
          <button
            nbButton
            status="info"
            fullWidth
            (click)="openProcessedListsModal()"
          >
            Listas Semanales Procesadas
          </button>
        </div>
      </div>
    </div>

    <!-- Tabla de Asistencia de la Semana Confirmada -->
    <div class="table-responsive mt-4" *ngIf="selectedWeek">
      <h5 class="text-center">
        Lista de Asistencia de la Semana {{ selectedWeek.week_number }} ({{
          formattedStartDate
        }}
        - {{ formattedEndDate }})
      </h5>
      <table class="table table-bordered table-striped table-hover">
        <thead class="table-primary">
          <tr>
            <th rowspan="2" class="text-center align-middle">Código</th>
            <th rowspan="2" class="text-center align-middle">Empleado</th>
            <ng-container *ngFor="let dia of diasSemana">
              <th colspan="9" class="text-center">
                {{ dia.display }} ({{ dia.date | date : "dd/MM/yyyy" }})
              </th>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngFor="let dia of diasSemana">
              <th class="text-center">Entrada</th>
              <th class="text-center">Entrada Comida</th>
              <th class="text-center">Salida Comida</th>
              <th class="text-center">Entrada Segunda Comida</th>
              <th class="text-center">Salida Segunda Comida</th>
              <th class="text-center">Salida</th>
              <th class="text-center">Incidencia</th>
              <th class="text-center">Descripción</th>
              <th class="text-center">Empresa y Obra</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empleadosSemana">
            <td class="text-center">{{ emp.employee_code || "N/A" }}</td>
            <td>
              {{ emp.first_name || "" }} {{ emp.middle_name || "" }}
              {{ emp.last_name || "" }}
            </td>
            <ng-container *ngFor="let dia of diasSemana">
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.entry_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.lunch_start_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.lunch_end_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.second_lunch_start_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.second_lunch_end_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ formatHour(emp.work_hours?.[dia.date]?.exit_time) || '--:--' }}
              </td>
              <td class="text-center">
                {{ emp.work_hours?.[dia.date]?.incident || 'N/A' }}
              </td>
              <td>
                {{ emp.work_hours?.[dia.date]?.description || 'Sin descripción' }}
              </td>
              <td>
                {{ emp.work_hours?.[dia.date]?.project_name || 'No Asignado' }}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div class="row pl-3 pl-sm-4">
        <button
          nbButton
          status="primary"
          size="medium"
          [disabled]="isButtonDisabled"
          (click)="processSelectedWeek()"
          class="mb-2 mb-sm-2 mr-2"
        >
          Procesar Semana
        </button>
        <button
          nbButton
          status="danger"
          size="medium"
          (click)="deshacerConfirmacionSemanal()"
          class="mb-2 mb-sm-2 mr-2"
        >
          Deshacer Confirmación
        </button>
      </div>
    </div>
  </nb-card>
</div>
