<div class="container-fluid mt-4">
  <div class="row">
    <!-- Barra lateral izquierda: Departamentos, Puestos y Turnos -->
    <div class="col-12 col-md-3 mb-4 mb-md-0">
      <div class="sidebar-section">
        <!-- Lista de Departamentos -->
        <nb-card>
          <nb-card-header class="text-center">
            <h6>Departamentos</h6>
          </nb-card-header>
          <nb-card-body>
            <ul class="list-group department-list">
              <li
                *ngFor="let departamento of displayedDepartamentos"
                class="list-group-item"
                [class.selected]="departamento === departamentoSeleccionado"
                (click)="selectDepartamento(departamento)"
              >
                {{ departamento.department_name }}
              </li>
              <!-- Ver más -->
              <li
                *ngIf="displayedDepartamentos.length < departamentos.length"
                class="list-group-item load-more"
                (click)="loadMoreDepartments()"
              >
                Ver más
              </li>
              <!-- Ver menos, con clase adicional para aplicar estilos rojos -->
              <li
                *ngIf="displayedDepartamentos.length > pageSize"
                class="list-group-item load-more ver-menos"
                (click)="loadLessDepartments()"
              >
                Ver menos
              </li>
            </ul>
          </nb-card-body>
        </nb-card>

        <!-- Lista de Puestos -->
        <nb-card class="mt-3">
          <nb-card-header class="text-center">
            <h6>Puestos</h6>
          </nb-card-header>
          <nb-card-body>
            <ul class="list-group puesto-list">
              <li
                *ngFor="let puesto of displayedPuestos"
                class="list-group-item"
                [class.selected]="puesto === puestoSeleccionado"
                (click)="selectPuesto(puesto)"
              >
                {{ puesto.position_name }}
              </li>
              <!-- Ver más -->
              <li
                *ngIf="displayedPuestos.length < puestos.length"
                class="list-group-item load-more"
                (click)="loadMorePositions()"
              >
                Ver más
              </li>
              <!-- Ver menos, con clase adicional para aplicar estilos rojos -->
              <li
                *ngIf="displayedPuestos.length > pageSize"
                class="list-group-item load-more ver-menos"
                (click)="loadLessPositions()"
              >
                Ver menos
              </li>
            </ul>
          </nb-card-body>
        </nb-card>

        <!-- Tarjeta de Turnos -->
        <nb-card class="mt-3">
          <nb-card-header class="text-center">
            <h6>Turnos</h6>
          </nb-card-header>
          <nb-card-body>
            <ul class="list-group turno-list">
              <li
                *ngFor="let turno of turnos"
                class="list-group-item"
                [class.selected]="turno === turnoSeleccionado"
                (click)="selectTurno(turno)"
              >
                {{ turno.shift_name }}
              </li>
            </ul>
          </nb-card-body>
        </nb-card>

        <!-- Tarjeta de Estado -->
        <nb-card class="mt-3">
          <nb-card-header class="text-center">
            <h6>Estado</h6>
          </nb-card-header>
          <nb-card-body>
            <ul class="list-group estado-list">
              <li
                class="list-group-item"
                [class.selected]="activeFilter === 'A'"
                (click)="toggleActiveFilter('A')"
              >
                Activos
              </li>
              <li
                class="list-group-item"
                [class.selected]="activeFilter === 'B'"
                (click)="toggleActiveFilter('B')"
              >
                Inactivos
              </li>
            </ul>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <!-- Detalles a la derecha: Lista de Empleados -->
    <div class="col-12 col-md-9">
      <!-- Campo de búsqueda -->
      <nb-card class="busqueda mb-4" *ngIf="mostrarBusqueda">
        <nb-form-field>
          <label for="searchQuery">Buscar empleados</label>
          <input
            nbInput
            id="searchQuery"
            [(ngModel)]="searchQuery"
            (ngModelChange)="buscarEmpleados()"
            placeholder="Escribe aquí"
          />
        </nb-form-field>
      </nb-card>

      <nb-card *ngIf="empleadosFiltrados.length > 0">
        <nb-card-header class="text-center"> Empleados </nb-card-header>
        <nb-card-body>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Código de empleado</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let empleado of empleadosFiltrados"
                  class="table-row"
                >
                  <td [ngClass]="{ baja: empleado.employee_status === 'B' }">
                    {{ empleado.employee_code }}
                  </td>
                  <td [ngClass]="{ baja: empleado.employee_status === 'B' }">
                    {{ empleado.first_name }} {{ empleado.middle_name }}
                    {{ empleado.last_name }}
                  </td>
                  <td [ngClass]="{ baja: empleado.employee_status === 'B' }">
                    {{ empleado.email }}
                  </td>
                  <td>
                    <button
                      title="Ver detalles"
                      nbButton
                      (click)="viewEmployeeDetails(empleado.employee_id)"
                      outline
                      size="small"
                      status="primary"
                    >
                      <nb-icon icon="eye-outline"></nb-icon>
                    </button>
                    <button
                      title="Crear usuario"
                      nbButton
                      (click)="addUser(empleado)"
                      outline
                      size="small"
                      status="info"
                      [disabled]="
                        employeeHasUser(empleado.employee_id) ||
                        empleado.employee_status === 'B'
                      "
                    >
                      <nb-icon icon="person-add-outline"></nb-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
