<nb-layout>
    <nb-layout-column class="container-fluid d-flex align-items-center justify-content-center">
      <!-- Selector de modo de registro -->
      <button nb-button-group status="primary" size="large" class="mb-4">
        <button nbButton [outline]="registerMode !== 'register'" (click)="registerMode = 'register'">Registro Manual</button>
        <button nbButton [outline]="registerMode !== 'code'" (click)="registerMode = 'code'">Agregar por Código</button>
      </button>
  
      <!-- Sección de formulario de registro manual -->
      <div *ngIf="registerMode === 'register'" class="col-lg-6">
        <nb-card class="login-section p-4 rounded shadow">
          <nb-card-header class="text-center">
            <h1>{{ labelRegistrarSocioComercialRol }}</h1>
            <p>{{ labelIngreseDatosParaContinuar }}</p>
          </nb-card-header>
          <nb-card-body>
            <!-- Formulario -->
            <div class="form-group mb-3">
              <label>{{ labelTipoRFC }}</label>
              <nb-select [(selected)]="tipoRFC" (selectedChange)="onChangeTipoRFC()">
                <nb-option value="fisica">{{ labelPersonaFisica }}</nb-option>
                <nb-option value="moral">{{ labelPersonaMoral }}</nb-option>
              </nb-select>
            </div>
            <div class="form-group mb-3">
              <div class="d-flex align-items-center">
                <nb-input-field class="flex-grow-1">
                  <input nbInput placeholder="{{ labelRFC }}" [(ngModel)]="usuario.rfc" (input)="validateRFC($event)" />
                </nb-input-field>
                <button nbButton (click)="buscarEmpresaPorRFC()">Buscar</button>
              </div>
              <small *ngIf="rfcLengthError" class="text-danger">{{ rfcLengthError }}</small>
            </div>
            <div class="form-group mb-3">
              <label>{{ tipoRFC === 'fisica' ? 'Nombre de la persona física' : 'Nombre de la empresa' }}</label>
              <nb-input-field>
                <input nbInput [(ngModel)]="usuario.nombreEmpresa" (ngModelChange)="showMessage()" (blur)="hideMessage()" (focus)="resetMessage()" />
              </nb-input-field>
              <small *ngIf="showMessageFlag" class="text-muted">{{ labelComoApareceConstanciaFiscal }}</small>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelAliasUsuario }}</label>
              <nb-input-field>
                <input nbInput [(ngModel)]="usuario.nombreUsuario" />
              </nb-input-field>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelNombreCompletoUsuario }}</label>
              <nb-input-field>
                <input nbInput [(ngModel)]="usuario.nombreCompleto" />
              </nb-input-field>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelCorreo }}</label>
              <nb-input-field>
                <input nbInput type="email" [(ngModel)]="usuario.correo" />
              </nb-input-field>
              <small *ngIf="usuario.correo && (!usuario.correo.includes('@') || !isValidEmail(usuario.correo))" class="text-danger">{{ labelValidacionCorreo }}</small>
            </div>
            <div class="form-group mb-3">
              <label>Número de teléfono</label>
              <nb-input-field>
                <input nbInput type="text" [(ngModel)]="usuario.numTelefonico" maxlength="10" />
              </nb-input-field>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelContrasena }}</label>
              <nb-input-field>
                <input nbInput type="password" [(ngModel)]="usuario.contrasena" />
              </nb-input-field>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelConfirmarContrasena }}</label>
              <nb-input-field>
                <input nbInput type="password" [(ngModel)]="usuario.confirmarContrasena" />
              </nb-input-field>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelTipoUsuario }}</label>
              <nb-select [(selected)]="usuario.roleInCompany">
                <nb-option *ngFor="let rol of rolesDisponibles" [value]="rol.id">{{ rol.roleName }}</nb-option>
              </nb-select>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelFechaInicioPeriodo }}</label>
              <nb-input-field>
                <input nbInput type="date" [(ngModel)]="usuario.fechaInicio" />
              </nb-input-field>
            </div>
            <div class="form-group mb-3">
              <label>{{ labelFechaFinPeriodo }}</label>
              <nb-input-field>
                <input nbInput type="date" [(ngModel)]="usuario.fechaFin" />
              </nb-input-field>
            </div>
            <div class="text-center mt-4">
              <button nbButton status="primary" size="large" [disabled]="!camposCompletos()" (click)="registrarUsuario()">
                {{ ButtonRegistrar }}
              </button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
  
      <!-- Sección para agregar socio comercial por código -->
      <div *ngIf="registerMode === 'code'" class="col-lg-6">
        <nb-card class="add-person-card p-4 shadow">
          <nb-card-header>
            Agregar socio comercial
          </nb-card-header>
          <nb-card-body>
            <div class="form-group">
              <label for="codigoSocioComercial">Código del socio comercial</label>
              <nb-input-field>
                <input nbInput type="text" id="codigoSocioComercial" [(ngModel)]="codigoSocioComercial" />
              </nb-input-field>
            </div>
            <small class="text-muted">Ingresa el código del socio comercial que deseas registrar. El código consta de caracteres alfanuméricos.</small>
            <div class="text-center mt-4">
              <button nbButton status="primary" (click)="openUserInfoModal()">Agregar</button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </nb-layout-column>
  </nb-layout>
  