<div class="row">
  <!-- Columna izquierda para mostrar información de la semana -->
  <div class="col-lg-4 col-md-5">
    <nb-card>
      <nb-card-header class="card-title">
        <span class="title">Resumen de la semana</span>
      </nb-card-header>
      <nb-card-body>
        <p>
          <strong>Fecha seleccionada:</strong>
          {{ currentFecha || "No seleccionada" }}
        </p>
        <p><strong>Semana:</strong> {{ currentSemana || "No disponible" }}</p>
        <p>
          <strong>Inicio del periodo:</strong> {{ formattedPeriodStartDate }}
        </p>
        <p><strong>Fin del periodo:</strong> {{ formattedPeriodEndDate }}</p>

        <!-- Lista de Días de la Semana -->
        <h6><strong>Días de la semana:</strong></h6>
        <div class="days-container">
          <div class="day-box-wrapper" *ngFor="let dia of diasSemana">
            <!-- Letra del día arriba -->
            <div class="day-letter">
              {{ dia.dayLetter }}
            </div>

            <!-- Caja con el número de día y estados (confirmed, pending...) -->
            <div
              class="day-box"
              [ngClass]="{
                confirmed: dia.status === 'confirmed',
                pending: dia.status === 'pending',
                'rest-day': dia.isRestDay
              }"
              (click)="mostrarInfoDia(dia)"
              [nbPopover]="dia.isRestDay ? restDayTemplate : null"
              nbPopoverTrigger="hover"
              nbPopoverPlacement="top"
            >
              {{ dia.date | date : "dd" }}
            </div>

            <ng-template #restDayTemplate>
              Este es un día de descanso.
            </ng-template>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- Columna derecha con detalles de empleados por día -->
  <div class="col-lg-8 col-md-7">
    <nb-card class="p-3 mb-4">
      <nb-card-header class="px-0 pt-0 px-sm-3 pt-sm-2">
        <span class="title">Confirmar día </span>
      </nb-card-header>

      <div class="row g-3">
        <!-- Contenedor flex -->
        <div class="col-12 d-flex justify-content-center mb-3 mt-4">
          <div class="w-100">
            <div class="row">
              <!-- Búsqueda por nombre/código -->
              <div class="col-12 mb-3">
                <nb-form-field>
                  <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchTerm"
                    (input)="filterEmployees()"
                    fullWidth
                    nbInput
                    placeholder="Buscar empleados..."
                  />
                </nb-form-field>
              </div>
              <!-- Filtro por proyecto -->
              <div class="col-12 col-md-5 mb-3 mb-md-0">
                <nb-select
                  [(selected)]="projectFilter"
                  (selectedChange)="filterEmployees()"
                  placeholder="Filtrar por proyecto"
                  fullWidth
                >
                  <nb-option
                    *ngFor="let project of availableProjects"
                    [value]="project"
                  >
                    {{ project }}
                  </nb-option>
                </nb-select>
              </div>

              <!-- Filtro por tipo de incidencia -->
              <div class="col-12 col-md-5 mb-3 mb-md-0">
                <nb-select
                  [(selected)]="incidentFilter"
                  (selectedChange)="filterEmployees()"
                  placeholder="Filtrar por incidencia"
                  fullWidth
                >
                  <nb-option
                    *ngFor="let incident of availableIncidents"
                    [value]="incident"
                  >
                    {{ incident }}
                  </nb-option>
                </nb-select>
              </div>

              <!-- Botón para resetear filtros -->
              <div class="col-12 col-md-2">
                <button
                  nbButton
                  outline
                  status="basic"
                  size="small"
                  (click)="resetFilters()"
                  fullWidth
                  class="h-100"
                >
                  <nb-icon icon="refresh"></nb-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Primera card -->
        <div class="col-12 col-lg-6">
          <!-- Lista de Empleados Asignados -->
          <nb-card accent="primary">
            <nb-card-header>
              <p class="m-0">Empleados asignados para el día seleccionado</p>
            </nb-card-header>

            <nb-card-body>
              <nb-list>
                <nb-list-item
                  *ngFor="let emp of filteredEmpleadosDia"
                  class="p-0"
                >
                  <div
                    class="d-flex flex-column justify-content-between align-items-center w-100"
                  >
                    <div class="w-100">
                      <h6 class="font-weight-bold">
                        {{ emp.employee_code }} - {{ emp.first_name }}
                        {{ emp.last_name }} {{ emp.middle_name }}
                      </h6>
                      <p class="m-0">
                        <small><b>Proyecto:</b> {{ emp.project_name }}</small>
                      </p>
                      <p>
                        <small><b>Estado:</b> {{ emp.project_status }}</small>
                      </p>

                      <!-- Mostrar información de incidencia si existe -->
                      <div *ngIf="emp.hasIncidencia">
                        <p>
                          <small
                            >Tipo de Incidencia:
                            {{ emp.incident_type || "N/A" }}</small
                          >
                        </p>
                        <p>
                          <small
                            >Descripción: {{ emp.description || "N/A" }}</small
                          >
                        </p>
                      </div>
                    </div>
                    <button
                      nbButton
                      status="danger"
                      size="small"
                      class="ms-3"
                      [disabled]="selectedDia?.status === 'confirmed'"
                      (click)="eliminarEmpleadoDelDia(emp.employee_id)"
                      class="mb-3"
                    >
                      Eliminar
                    </button>
                  </div>
                </nb-list-item>
              </nb-list>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-12 col-lg-6">
          <!-- Lista de Empleados solo con Incidencias (sin asignación) -->
          <nb-card
            *ngIf="filteredEmpleadosIncidencias.length > 0"
            accent="info"
          >
            <nb-card-header>
              <p class="m-0">
                Empleados con incidencias para el día seleccionado (sin
                asignación)
              </p>
            </nb-card-header>
            <nb-card-body>
              <nb-list>
                <nb-list-item
                  *ngFor="let emp of filteredEmpleadosIncidencias"
                  class="p-0"
                >
                  <div
                    class="d-flex flex-column justify-content-between align-items-center w-100"
                  >
                    <div class="w-100">
                      <h6 class="font-weight-bold">
                        {{ emp.employee_code }} - {{ emp.first_name }}
                        {{ emp.last_name }} {{ emp.middle_name }}
                      </h6>
                      <p class="m-0">
                        <small
                          ><b>Tipo de Incidencia:</b>
                          {{ emp.incident_type || "N/A" }}</small
                        >
                      </p>
                      <p class="m-0">
                        <small
                          ><b>Descripción:</b>
                          {{ emp.description || "N/A" }}</small
                        >
                      </p>
                      <p>
                        <small
                          ><b>Fecha:</b>
                          {{ emp.created_at | date : "dd/MM/yyyy" }}</small
                        >
                      </p>
                    </div>
                    <button
                      nbButton
                      status="danger"
                      size="small"
                      class="mb-3"
                      [disabled]="selectedDia?.status === 'confirmed'"
                      (click)="eliminarEmpleadoDelDia(emp.employee_id)"
                    >
                      Eliminar
                    </button>
                  </div>
                </nb-list-item>
              </nb-list>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button
          nbButton
          status="primary"
          *ngIf="selectedDia"
          [disabled]="
            !canConfirmDay(selectedDia) || selectedDia?.status === 'confirmed'
          "
          (click)="confirmarDia(selectedDia)"
        >
          Confirmar Día
        </button>
      </div>
    </nb-card>
  </div>
</div>
