.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  .days-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .day-box {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
  }
  
  .day-box.confirmed {
    background-color: #4caf50;
    color: white;
  }
  
  .day-box.pending {
    background-color: #ff9800; /* Naranja para días pendientes */
    color: black;
  }
  
  .day-box {
    background-color: #e0e0e0; /* Fondo gris para días sin estado */
  }
  
  
  .day-box:hover {
    background-color: #81c784;
  }